.checklist-task:first-child {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dashed #ddd;
}

.checklist-task:after {
  display: inline-block;
  color: red;
  font-weight: bold;
  content: "+";
}

.checklist--add-task {
  border: 1px dashed #bbb;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 3px;
  outline: none;
}
